{% extends 'BASE/base.html' %}
{% block body %}
	<div class="container container-fluid col-md-6 pull-right">
		<div class="box box-success">
			<div class="box-header">
			<h4 class="box-title">إضافة  منتج</h4>
			</div>
			<div class="box-body">
				{% if error_message %}
					<div class="callout callout-danger"><p><strong>{{ error_message }}</strong></p></div>	
				{% endif %}
				<form  role="form" action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
					<div class="form-group">
						{% include 'BASE/form_template.html' %}
						<input class="btn btn-success pull-left" type="submit" value="إضافة" />
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="container container-fluid col-md-6">
		<div class="box box-info">
			<div class="box-header">
			<h4 class="box-title">عرض جميع المصاريف</h4>
			</div>
			<div class="box-body">
				<table id="example1" class="table table-hover">
					<thead>
						<tr>
							<th>التصنيف</th>
							<th>المبلغ</th>
							<th>التفاصيل</th>
							<th>التاريخ</th>
						</tr>
					</thead>
					<tbody>
						{% for x in all_transactions %}
							<tr>
								<td>{{x.category}}</td>
								<td>{{x.amount}}</td>
								<td>{{x.comment}}</td>
								<td>{{x.date}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}