{% extends 'BASE/base.html' %}
{% block body %}
	<div class="container container-fluid col-md-6 pull-right">
		<div class="box box-success">
			<div class="box-header">
			<h4 class="box-title">تحويل منتج</h4>
			</div>
			<div class="box-body">
				{% if error_message %}
					<div class="callout callout-danger"><p><strong>{{ error_message }}</strong></p></div>	
				{% endif %}
				<form  role="form" action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
					<div class="form-group">
						{% include 'BASE/form_template.html' %}
						<input class="btn btn-success pull-left" type="submit" value="تحويل" />
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="container container-fluid col-md-6">
		<div class="box box-info">
			<div class="box-header">
			<h4 class="box-title">عرض كل المخزون</h4>
			</div>
			<div class="box-body">
				<table id="example1" class="table table-hover">
					<thead>
						<tr>
							<th>المخزن</th>
							<th>المنتج</th>
							<th>الكمية</th>
						</tr>
					</thead>
					<tbody>
						{% for x in all_stock %}
							<tr>
								<td>{{x.warehouse.name}}</td>
								<td>{{x.item.name}}</td>
								<td>{{x.quantity}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="container container-fluid col-md-6">
		<div class="box box-info">
			<div class="box-header">
			<h4 class="box-title">عرض التحويلات المعلقة</h4>
			</div>
			<div class="box-body">
				<table id="example1" class="table table-hover">
					<thead>
						<tr>
							<th>من</th>
							<th>الي</th>
							<th>المنتج</th>
							<th>الكمية</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for x in pending_transfers %}
							<tr>
								<td>{{x.from_warehouse.name}}</td>
								<td>{{x.to_warehouse.name}}</td>
								<td>{{x.item.name}}</td>
								<td>{{x.quantity}}</td>
								<td><a href="{% url 'BASE:stock_recieve_transfer' x.id %}" class="btn btn-warning"><i class="fa fa-handshake-o"></i></a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}