{% extends 'BASE/base.html' %}
{% block body %}
	<div class="container container-fluid col-md-6 pull-right">
		<div class="box box-success">
			<div class="box-header">
			<h4 class="box-title">اختر الفرع</h4>
			</div>
			<div class="box-body">
				{% if error_message %}
					<div class="callout callout-danger"><p><strong>{{ error_message }}</strong></p></div>	
				{% endif %}
				<form  role="form" action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{% include 'BASE/form_template.html' %}
				<button class="btn btn-success">اختيار</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}