{% extends 'BASE/base.html' %}
{% block body %}
<div class="mainmenu">
{% if authorized_array.0 == True  or authorized_array.1 == True %}
	<a href="{% url 'POS:POS' %}">
		<div class="menuitem" style="background-color:darkblue;">
			<div class="icon">
				<i class="fa fa-money"></i>
			</div>
			<div class="text">
				إدارة الكاشير
			</div>
		</div>
	</a>
{% endif %}
{% if authorized_array.2 == True or authorized_array.3 %}
	<a href="{% url 'DELIVERY:delivery' %}">
		<div class="menuitem" style="background-color:orange;">
			<div class="icon">
				<i class="fa fa-motorcycle"></i>
			</div>
			<div class="text">
				إدارة الدليفرري
			</div>
		</div>
	</a>		
{% endif %}
{% if hr_authorized == True %}
	<a href="#">
		<div class="menuitem">
			<div class="icon">
				<i class="fa fa-handshake-o"></i>
			</div>
			<div class="text">
				إدارة الموارد البشرية
			</div>
		</div>
	</a>	
{% endif %}
{% if authorized_array.9 == True %}
	<a href="{% url 'BASE:accounts_home' %}">
		<div class="menuitem" style="background-color:green;">
			<div class="icon">
				<i class="fa fa-book"></i>
			</div>
			<div class="text">
				إدارة الحسابات
			</div>
		</div>
	</a>		
{% endif %}
{% if authorized_array.4 == True or authorized_array.5 == True or authorized_array.8 == True %}
	<a href="{% url 'BASE:system_setting' %}">
		<div class="menuitem" style="background-color:red;">
			<div class="icon">
				<i class="ion-ios-gear"></i>
			</div>
			<div class="text">
				إدارة البرنامج
			</div>
		</div>
	</a>	
{% endif %}
{% if authorized_array.7 == True %}
	<a href="{% url 'STOCK:stock' %}">
		<div class="menuitem" style="background-color:purple">
			<div class="icon">
				<i class="fa fa-barcode"></i>
			</div>
			<div class="text">
				إدارة المخزون
			</div>
		</div>
	</a>
{% endif %}
{% if authorized_array.6 == True %}
	<a href="{% url 'PURCHASES:purchase' %}">
		<div class="menuitem" style="background-color:black">
			<div class="icon">
				<i class="fa fa-shopping-cart"></i>
			</div>
			<div class="text">
				إدارة المشتريات
			</div>
		</div>
	</a>
{% endif %}
{% if authorized_array.6 == True %}
	<a href="{% url 'REPORTS:reports' %}">
		<div class="menuitem" style="background-color:maroon">
			<div class="icon">
				<i class="fa  fa-list-alt"></i>
			</div>
			<div class="text">
				التقارير
			</div>
		</div>
	</a>

{% endif %}
</div>

{% endblock %}